**Exercise 1: Create a Jupyter Notebook**

**Name:** DataScienceEcosystem

**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
- List popular languages for Data Science
- List the set of libraries used by Ð° Data Scientists
- Many excisting DS Tools

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|------------------|
|MySQL |
|Hadoop |
|Apache Couch DB |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
code = compile("3 + 6", "<string>", "eval")
eval(code)

9

In [10]:
code1 = compile("(3 + 9) * 2", "<string>", "eval")
eval(code1)

24

**Exercise 8 - Create a code cell to multiply and add numbers**

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

This will convert 200 minutes to hours by diving by 60

In [15]:
minutes = 200
hours = minutes / 60

print(f"{minutes} minutes is {hours} hours")

200 minutes is 3.3333333333333335 hours

## Author:
Artem Khomenko